<div class="base">
    <app-info-card [game]="game"></app-info-card>
    <app-timer id="timer" [maxTime]="game.questionSet.questions[game.questionNumber].time"></app-timer>
    <div class="content" id="question-card">
        <h4 id="question">{{ game.questionSet.questions[game.questionNumber].questionText }}</h4>
    </div>

    @if (layout !== 'picture') {
        <div class="content" id="answers-card" [ngClass]="{'answers-card-nopicture': layout === 'answers', 'answers-card-picture': layout === 'pictureAndAnswers'}">
            @for (answer of game.questionSet.questions[game.questionNumber].answers; track answer.id) {
                <div class="answers">
                    <p class="answers-text" [ngClass]="{'answers-text-picture': layout === 'pictureAndAnswers'}">{{ answer.answerText }}</p>
                </div>
            }
        </div>
    }
    @if (layout === 'picture' || layout === 'pictureAndAnswers') {
        <div id="picture-container" [ngClass]="{'picture-container-small': layout === 'pictureAndAnswers', 'picture-container-large': layout === 'picture'}">
            <img id="picture" class="content" [src]="game.questionSet.questions[game.questionNumber].picturePath" alt="questionimg">
        </div>
    }
</div>