#question-card {
    transform: rotate(2deg);
    padding: 15px;
    gap: 10px;
    width: 80%;
    top: 50px;
    right: 20px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
}

#question {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#answers-card {
    display: grid;
    gap: 10px;
    padding: 20px;
    position: absolute;
    visibility: hidden;
}

.answers-card-picture {
    grid-template-columns: repeat(1, 1fr);
    height: 50%;
    width: 30%;
    bottom: 225px;
    left: 20px;
}

.answers-card-nopicture {
    grid-template-columns: repeat(2, 1fr);
    height: 50%;
    width: 80%;
    bottom: 200px;
}

.answers {
    border-radius: 30px;
    color: var(--primary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.answers-text {
    font-weight: bold;
    text-align: center;
}

.answers-text-picture {
    font-size: 35px;
}

.answers:nth-child(1) {
    background: linear-gradient(90deg, var(--answer1), var(--answer1) 100%, var(--answer1) 100%);
}

.answers:nth-child(2) {
    background: linear-gradient(90deg, var(--answer2), var(--answer2) 100%, var(--answer2) 100%);
}

.answers:nth-child(3) {
    background: linear-gradient(90deg, var(--answer3), var(--answer3) 100%, var(--answer3) 100%);
}

.answers:nth-child(4) {
    background: linear-gradient(90deg, var(--answer4), var(--answer4) 100%, var(--answer4) 100%);
}

.answers:nth-child(5) {
    background: linear-gradient(90deg, var(--answer5), var(--answer5) 100%, var(--answer5) 100%);
}

.answers:nth-child(6) {
    background: linear-gradient(90deg, var(--answer6), var(--answer6) 100%, var(--answer6) 100%);
}

#picture-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: #d41938 solid 1px;*/
    transform: rotate(-1deg);
    visibility: hidden;
}

.picture-container-small {
    bottom: 100px;
    right: 50px;
    width: 60%;
    height: 72%;
}

.picture-container-large {
    bottom: 50px;
    width: 90%;
    height: 80%;
}

#picture {
    display: block;
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;
    outline: white 15px solid;
}

#timer {
    visibility: hidden;
}
