.content {
    width: 40%;
    z-index: 1;
}

#player-card-container {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-card {
    position: absolute;
    visibility: hidden;
}

h1 {
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 0 80px;
    border-radius: 20px;
}

#qr-code-container {
    position: absolute;
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 20px;
    background: white;
    visibility: hidden;
}

.single-qr-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.qr-code {
    height: 100%;
}
