.content {
    width: 40%;
    z-index: 1;
}

#player-card-container {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-card {
    position: absolute;
}

h1 {
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 0 80px;
    border-radius: 20px;
}