<div class="base">
    @if (game) {
        <div class="content" id="info-card">
            <p>Spielnummer:</p>
            <h1>{{ game.id }}</h1>
            <h3>192.168.0.6:21100</h3>
            @if (game.players) {
                <p>{{ game.players.length }} Spieler beigetreten</p>
            } @else {
                <p>Warte auf Spieler</p>
            }
        </div>
        <div id="player-card-container">
            @for (player of game.players; track player.id) {
                <div class="player-card" id="player-card-{{player.id}}">
                    <p>{{ player.name }}</p>
                </div>
            }
        </div>
    } @else {
        <p>Keine Antwort vom Server</p>
    }
    <div class="content qr-code-container" id="qr-code-container-l">
        <div class="single-qr-container">
            <p>1. WLAN</p>
            <img id="wifi-qr-code" class="qr-code" src="wifi-qr-code.png" alt="wifi">
        </div>
    </div>
    <div class="content qr-code-container" id="qr-code-container-r">
        <div class="single-qr-container">
            <p>2. Spiel</p>
            <img id="url-qr-code" class="qr-code" src="url-qr-code.png" alt="url">
        </div>
    </div>
</div>
