.base {
    background: #000000A0;
}

.player-card {
    position: absolute;
    width: 500px;
    display: flex;
    flex-direction: row;
    text-align: center;
    box-shadow: none;
    visibility: hidden;
    outline-offset: -20px;
}

.player-name {
    flex-grow: 1;
}

.player-score {
    width: 30%;
    font-weight: bolder;
}

#question-number-card {
    width: 250px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    transform: rotate(2deg);
    z-index: 2;
    visibility: hidden;
}

#question-number-current {
    background: var(--accent);
    color: var(--primary-text);
    border: none;
    border-radius: 30px;
    width: 170px;
    text-align: center;
}

#question-number-headline, #question-number-total {
    font-size: 30px;
}

#set-container-container {
    padding: 30px;
    gap: 10px;
    width: 40%;
    top: 325px;
    left: -270px;
    position: absolute;
    rotate: 90deg;
    z-index: 1;
    visibility: hidden;
}

#set-container {
    width: 100%;
    height: 100%;
}

#set {
    background-color: var(--primary);
    border: none;
    border-radius: 30px;
    color: var(--primary-text);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}