<div class="base">
    @for (player of players; track player.id) {
        <div class="player-card" id="player-card-{{player.id}}">
            <p class="player-name">
                {{player.name}}
            </p>
            <p class="player-score">
                {{player.score}}
            </p>
        </div>
    }
    <div id="question-number-card">
        <div id="question-counter-shape-current" class="counter-shape">
            <p id="question-number-current">{{ currentQuestionNumber + 1 }}</p>
        </div>
        <div id="question-counter-shape-total" class="counter-shape">
            <p id="question-number-total">{{ totalQuestionNumber }}</p>
        </div>
    </div>

    <div class="content" (click)="fullScreen()" id="set-container-container">
        <div id="set-container">
            <h3 id="set">{{ setName }}</h3>
        </div>
    </div>
</div>
