<div class="base">
    @for (player of players; track player.id) {
        <div class="player-card" id="player-card-{{player.id}}">
            <p class="player-name">
                {{player.name}}
            </p>
            <p class="player-score">
                {{player.score}}
            </p>
        </div>
    }
    <div class="content" id="question-number-card">
        <p id="question-number-headline">Frage:</p>
        <h3 id="question-number-current">{{currentQuestionNumber+1}}</h3>
        <p id="question-number-total">/ {{totalQuestionNumber}}</p>
    </div>
</div>